*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Averta,Arial,sans-serif;
    overflow-x: hidden;
}
nav{
    background-color: white;
    height: 90px;
    position: fixed;
    z-index: 1;
    width: 100%;
    text-transform: capitalize;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav:hover{
   height: 100px;
   transition: all .6s ease-in;
   line-height: 90px;
}
nav .logo{
    margin-left: 2rem;
    line-height: 7rem;
}
.logo img{
    width: 2.3rem;
}
.nav1{
    display: flex;
    gap: 1rem;
  
}
nav ul{
    display: flex;
    list-style: none;
    line-height: 55px;

}
nav ul li{
    padding: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
}
.vertical-line{
    border-left: 2px solid gray;
    height: 1.5rem;
    position: relative;
    top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.nav-download{
    width: 12rem;
    height: 3.5rem;
    color: white;
    background: darkblue;
    border: none;
    position: relative;
    left: 32rem;
    top: 1rem;
    font-size: 0.8rem;
    font-weight: 600; 
    
}
header{
    background-color: #92c1e9;
    height: 130vh;
}
header h1{
    font-size: 3.4rem;
    font-family: Averta,Arial,sans-serif;
    line-height: 1;
    font-weight: 800;
    margin-left: 6rem;
    position: relative;
    top: 4rem;
    width: 30rem;


}
header p{
    font-size: 1.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 38rem;
    position: relative;
    left: 50rem;
    bottom: 3rem;
    line-height: 1.3;
    font-weight: 700;
    
}
.head-text{
    /* display: flex; */
    color: #2084d9;
    /* margin: 3rem; */
    position: relative;
    top: 5rem;

}
.head-download{
    width: 15rem;
    height: 3.9rem;
    color: white;
    background: darkblue;
    border: none;
    font-size: 1rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    display: block;
    font-weight: 900;
}
.head-img{
    text-align: center;

}
.what-can-you-do{
    margin-top: 20rem;
}
.what-can-you-do p{
    font-size: 3rem;
    font-family: Averta,Arial,sans-serif;
    font-weight: 800;
    width: 40rem;
    margin-left:10rem;
    margin-bottom: 3rem;
}
.doings1, .doings2{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.doings2{
    margin-top: 1rem;
}
.browse-fast{
    background-color: #bde9c9;
    width: 39rem;
    height: 28rem;
    text-align: center;
}
.connect{
     background-color: #f5dadf;
    width: 39rem;
    height: 28rem;
    text-align: center;
}
.surf{
    background-color: #fabbcb;
    width: 39rem;
    height: 28rem;
    text-align: center;
}
.chat{
    background-color: #92c1e9;
    width: 39rem;
    height: 28rem;
    text-align: center;
}
.browse-fast span, .chat span, .connect span, .surf span{
    font-size: 1.2rem;
    font-weight: 750;
    position: relative;
    top: 2rem;
}


.browse-fast img, .chat img, .connect img, .surf img{
   margin-top: 4.5rem;
   margin-left: 1.3rem;
}
.enhanced-security-parent{
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Averta,Arial,sans-serif;
}
.enhanced-child{
    margin-top: 1rem;
    width: 79rem;
    height: 43rem;
    background-color: #d4c9f8;
    display: flex;
}
.enhanced-child h3{
    font-size: 2.2rem;
    font-weight: 800;
    margin-top: 8rem;
    margin-left: 1.2rem;

}
.enhanced-child p{
    line-height: 1.5rem;
    margin-left: 1.2rem;
    font-weight: 500;
    margin-top: 1.5rem;
    width: 30rem;
    font-size: 1.25rem;
    line-height: 1.7rem;
}
.enhanced-child img{
    width: 40rem;
    height: 40rem;
    margin-top: 2rem;
    position: relative;
    left: 3.4rem;
}
.enhanced-child span{
    font-size: 1.5rem;
    font-weight: 550;
    margin-left: 1.2rem;
    position: relative;
    top: 1.2rem;
}
.enhanced-child ul {
    margin-top: 2rem;
    margin-left: 1.2rem;
    text-transform: uppercase;
    line-height: 2rem;
    font-size: 0.9rem;
    font-weight: 580;
    list-style: none;
}
.vpn-pro-btn{
    background: linear-gradient(135deg,#3881fa,#a21fad 100.01%);
    box-shadow: 0 4px 14px rgba(94,46,125,.2);
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
    transition: all .2s ease;
    width: 13rem;
    height: 3.5rem;
    border: none;
    color: white;
    margin-left: 1.2rem;
    margin-top: 2rem;
}
.vpn-pro-btn:hover{
    background: linear-gradient(135deg,#286ad5,#7a1184 100.01%);
}
.free-vpn-btn{
    background: #0199ff;
    box-shadow: 0 4px 14px rgba(94,46,125,.2);
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
    transition: all .2s ease;
    width: 13rem;
    height: 3.5rem;
    border: none;
    color: white;
    margin-left: 1.2rem;
}
.free-vpn-btn:hover{
    background: #026fb8;
}
.features{
    margin-top: 11rem;
}
.features-parent{
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.features1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.features2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.features1 h3{
    font-size: 2.4rem;
    font-weight: 800;
    margin-right: 10.5rem;
    margin-bottom: 1rem;
    
    
}
.features2 h3{
    font-size: 2.4rem;
    font-weight: 800;
    /* margin-right: 10.5rem; */
    margin-bottom: 1rem;
}
.features2 p{
    width: 40rem;
    line-height: 1.7rem;
    font-weight: 550;
    font-size: 1.2rem;
}
.features1 p{
    width: 40rem;
    line-height: 1.7rem;
    font-weight: 550;
    font-size: 1.2rem;
    
}
.features1 img{

}
.switch{
    background-color: #92c1e9;
    height: 80vh;
    margin-top: 6rem;
}
.switch-text{
    display: flex;
    color: #2084d9;
    gap: 15rem;

}
.switch h2{
    font-size: 3.6rem;
    font-weight: 900;
    margin-top: 6rem;
    margin-left: 4rem;
    
}
.switch p{
    font-size: 1.8rem;
    width: 50rem;
    margin-top: 7rem;
    margin-right: 4rem;
    font-weight: 600;
}
.switch button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
    height: 4rem;
    border: none;
    color: white;
    font-size: 1.5rem;
   background: rgb(9, 9, 149);
   margin-top: 8rem;
}
.switch button:hover{
    background-color: rgb(3, 3, 97);
    transition: all .5s ease-in-out;
    cursor: pointer;
}
.gaming h3{
    font-size: 3.4rem;
    width: 40rem;
    font-weight: 900;
    margin-top: 6rem;
    margin-left: 8rem;
    line-height: 3.8rem;
    margin-bottom: 3rem;
}
.gaming-container{
    justify-content: center;
    align-items: center;
    display: flex;
}
.gaming-child{
    background: #f2f2f2;
    width: 79rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gaming-child h4{
    font-size: 2rem;
    margin-left: 4rem;
    font-weight: 800;
}
.gaming-child p{
    font-size: 1.4rem;
    margin-left: 4rem;
    margin-top: 2rem;
    line-height: 1.9rem;
}
.gaming-container .horizontal-line{
    border-bottom: 1px solid rgb(166, 167, 168);
    width: 28rem;
    margin-left: 4rem;
    margin-top: 2rem;
}
.gaming-child span{
    padding-top: 3rem;
}
.gaming-link a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.gaming-link a:hover{
    color: purple;
}

.know-us img{
    width: 100vw;
    margin-top: 10rem;
}
.know-us-child p{
    position: absolute;
    top: 480rem;
    width: 30rem; 
    margin-left: 4rem;
    font-size: 1.6rem;
    line-height: 2.3rem;
}
.know-us h4{
    position: absolute;
    top: 470rem;
    width: 40rem;
    font-size: 3.5rem;
    font-weight: 800;
    margin-left: 4rem;
}

.pink-container{
    justify-content: center;
    align-items: center;
    display: flex;
  
}

.pink-child{
    background-color: #fabbcb ;
    margin-top: 9rem;
    flex-direction: column;
    display: flex;
}
.pink-text{
    display: flex;
    gap: 3rem;   
    position: relative;
    top: 4rem;
}
.pink-text h3{
    font-size: 3.2rem;
    font-weight: 800;
    color: #fb637e;
    width: 30rem;
    margin-top: 4rem;
    line-height: 2.7rem;
    margin-left: 4rem;
}
.pink-text p{
    color: #fb637e;
    font-size: 1.3rem;
    width: 30rem;
    margin-top: 4rem;
    margin-right: 3rem;
    font-weight: 700;
}
.pink button{
    width: 15rem;
    height: 4rem;
    text-transform: capitalize;
   margin-left: auto;
   margin-right: auto;
   display: block;
   margin-top: 4rem;
   position: relative;
   top: 6rem;
   color: white;
   border: none;
   font-size: 1.2rem;
   background-color:rgb(9, 9, 149);
}
footer{
    background-color: #f2f2f2;
    text-transform: capitalize;
    height: 31rem;
}
.footer-container{
    display: flex;
    gap: 6rem;
}
footer ul{
    line-height: 2.4;
    letter-spacing: .03rem;
    font-size: 0.8rem;
   
    
}
.services, .legal, .community, .help{
    position: relative;
    left: 10rem;
    margin-top: 3rem;
}
footer h3{
    margin-bottom: 1.4rem;
}
footer ul li{
    list-style: none;
    font-weight: 550;
    color: rgb(64, 64, 64);

}
footer ul li:hover{
    cursor: pointer;
   color: purple;
   padding-left: 0.2rem;
}
footer .brand{
    margin-left: 16rem;
    margin-top: 3rem;
    
}
footer .brand p{
    color: #b3b3b3;
    font-size: 1rem;
    line-height: normal;
    width: 20rem;
    margin-top: 1.3rem;
}
.footer-full-hl{
    border-bottom: 0.01rem solid rgb(160, 159, 159);
    width: 90%;
    margin-left: 7rem;
    margin-top: 3rem;
}

footer .p1{

    color: #9d9d9d;
    padding-left: 8rem;
    line-height: 2rem;
    font-size: 0.9rem;
   
}
footer .p1:first-of-type{
    margin-top: 3rem;
}
.footer-icons{
    margin-top: 1rem;
    letter-spacing: 0.4rem;
    text-decoration: none;
}

.brand-hl{
    border-bottom: 1px solid gray;
    margin-top: 1rem;
}
@media screen and (max-width:600px){
    body, html{
        overflow-x: hidden;
    }
    nav{
        height: 4.5rem;
    }
    nav .logo{
        margin-left: 2rem;
        line-height: 6rem;
    }
    nav:hover{
        height: 5.2rem;
        transition: all .6s ease-in;
        line-height: 90px;
     }
    nav .vertical-line{
        display: none;
    }
    nav ul li{
        display: none;
    }
    .nav-download{
        /* width: 11rem;
        height: 3.5rem;
        position: relative;
        left: 0rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
        top: 1rem;
        font-size: 0.7rem;
        font-weight: 600;  */
        display: none;
        
    }
   
    header{
        background-color: #92c1e9;
        height: 48rem;
        width: 100vw;
    }
    .desktop-img{
        display: none;
    }
    .mobile-img{
        width: 19rem;
        position: relative;
        bottom: 1rem;
    }
    header h1{
    font-size: 2.4rem;
    /* margin: 0 0 1rem; */
    font-family: Averta,Arial,sans-serif;
    line-height: 1;
    font-weight: 900;
    padding-left: 0.1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: 4rem;
    width: 20rem;
    text-align: left;
    padding-left: 1rem;
    /* right: 1rem; */


}
header p{
    font-size: 1.1rem;
    width: 20rem;
    position: relative;
    left: 0;
    bottom: 0;
    top: 2rem;
    text-align: left;
    margin-bottom: 4rem;
    line-height: 1.3;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-weight: 700;
     padding-left: 1rem; 
    /* padding-right: 1rem; */
    
}
.head-download{
    width: 17.5rem;
    height: 3.5rem;
}
.what-can-you-do{
    margin-top: 5rem;
}
.what-can-you-do p {
    font-size: 1.3rem;
    font-family: Averta,Arial,sans-serif;
    font-weight: 900;
    width: 20rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  /* text-align: center; */
    
}
.doings1, .doings2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
}
.browse-fast{
    width: 24rem;
    height: 20rem;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}
.browse-fast, .chat, .connect, .surf{
    width: 24rem;
    height: 20rem;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}
.browse-fast img, .chat img, .connect img, .surf img{
    margin-top: 4.5rem;
    margin-left: 1.3rem;
    width: 18rem;
 }
 .browse-fast span, .connect span{
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
 }
 .parent-doings1{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
 }
 .enhanced-child{
    margin-top: 1rem;
    width: 79rem;
    height: 51rem;
    background-color: #d4c9f8;
    flex-direction: column-reverse;
}
.enhanced-child img{
    width: 18rem;
    height: 38rem;
    margin-top: 0rem;
    position: relative;
    left: 7.4rem;
    top: 12em;
}
.enhanced-child span{
    font-size: 1.2rem;
    font-weight: 550;
    margin-left: 1.2rem;
    position: relative;
    top: 1.2rem;
}
.enhanced-child h3{
    font-size: 1.15rem;
    font-weight: 800;
    margin-top: 13rem;
    margin-left:1.2rem;

}
.enhanced-child p{
    line-height: 1.5rem;
    margin-left: 1.2rem;
    font-weight: 500;
    margin-top: 0.5rem;
    width: 20rem;
    font-size: 1rem;
    line-height: 1.7rem;
}

.enhanced-child ul {
    margin-top: 2rem;
    margin-left: 1.2rem;
    line-height: 2rem;
    font-size: 0.85rem;
    font-weight: 600;
    list-style: none;
}
.vpn-pro-btn, .free-vpn-btn{
    width: 18rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

 .know-us{
    display: none;
 }
}