*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
}
body{
    font-family: Averta,Arial,sans-serif;
    overflow-x: hidden;
}
nav{
    background-color: white;
    height: 90px;
    position: fixed;
    z-index: 1;
    width: 100%;
    text-transform: capitalize;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav:hover{
   height: 100px;
   transition: all .6s ease-in;
   line-height: 90px;
}
nav .logo{
    margin-left: 2rem;
    line-height: 7rem;
}
.logo img{
    width: 2.3rem;
}
.nav1{
    display: flex;
    gap: 1rem;
   justify-content: space-between;
  
}
nav ul{
    display: flex;
    list-style: none;
    line-height: 55px;
   margin-right: 35%;
}
nav .drop-down-img{
    display: none;
}
nav ul li{
    padding: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
}
.vertical-line{
    border-left: 2px solid gray;
    height: 1.5rem;
    position: relative;
    top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    margin-right: 40px;
    position: relative;
    left: 1.5rem;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.nav-download{
    width: 12rem;
    height: 3.5rem;
    color: white;
    background: darkblue;
    border: none;
    position: relative;
    /* left: 44rem; */
    margin-right: 4rem;
    top: 1rem;
    font-size: 0.8rem;
    font-weight: 600; 
    
}
header{
    background-color: #92c1e9;
    height: 130vh;
}
header h1{
    font-size: 3.4rem;
    font-family: Averta,Arial,sans-serif;
    line-height: 1;
    font-weight: 800;
    margin-left: 6rem;
    position: relative;
    top: 4rem;
    width: 30rem;


}
header p{
    font-size: 1.6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 38rem;
    position: relative;
    /* left: 56rem; */
    top: 4rem;
    line-height: 1.3;
    font-weight: 700;
    
}
.head-text{
   
    color: #2084d9;
    /* margin: 3rem; */
    position: relative;
    top: 5rem;


}
.head-h1p{
    justify-content: space-between;
     display: flex; 
}
.head-download{
    width: 15rem;
    height: 3.9rem;
    color: white;
    background: darkblue;
    border: none;
    font-size: 1rem;
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-weight: 900;

}
.head-img{
    text-align: center;
    margin-top: 3rem;
    width: 100%;


}
.mobile-img{
    position: absolute;
    top: 32rem;
    left: 60rem;
}
.what-can-you-do{
    margin-top: 20rem;
}
.what-can-you-do p{
    font-size: 3rem;
    font-family: Averta,Arial,sans-serif;
    font-weight: 800;
    width: 40rem;
    margin-left:10rem;
    margin-bottom: 3rem;
}
.doings1, .doings2{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.doings2{
    margin-top: 1rem;
}
.browse-fast{
    background-color: #bde9c9;
    width: 39rem;
    height: 28rem;
    text-align: center;
}

.connect{
     background-color: #f5dadf;
    width: 39rem;
    height: 28rem;
    text-align: center;
}
.surf{
    background-color: #fabbcb;
    width: 39rem;
    height: 28rem;
    text-align: center;
}
.chat{
    background-color: #92c1e9;
    width: 39rem;
    height: 28rem;
    text-align: center;
}
.browse-fast span, .chat span, .connect span, .surf span{
    font-size: 1.2rem;
    font-weight: 750;
    position: relative;
    top: 2rem;
}


.browse-fast img, .chat img, .connect img, .surf img{
   margin-top: 4.5rem;
   margin-left: 1.3rem;
}
.enhanced-security-parent{
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Averta,Arial,sans-serif;
}
.enhanced-child{
    margin-top: 1rem;
    width: 79rem;
    height: 43rem;
    background-color: #d4c9f8;
    display: flex;
}
.enhanced-child h3{
    font-size: 2.2rem;
    font-weight: 800;
    margin-top: 8rem;
    margin-left: 1.2rem;

}
.enhanced-child p{
    line-height: 1.5rem;
    margin-left: 1.2rem;
    font-weight: 500;
    margin-top: 1.5rem;
    width: 30rem;
    font-size: 1.25rem;
    line-height: 1.7rem;
}
.enhanced-child img{
    width: 40rem;
    /* height: 40rem; */
    margin-top: 2rem;
    position: relative;
    left: 3.4rem;
}
.enhanced-child span{
    font-size: 1.5rem;
    font-weight: 550;
    margin-left: 1.2rem;
    position: relative;
    top: 1.2rem;
}
.enhanced-child ul {
    margin-top: 2rem;
    margin-left: 1.2rem;
    text-transform: uppercase;
    line-height: 2rem;
    font-size: 0.9rem;
    font-weight: 580;
    list-style: none;
}
.vpn-pro-btn{
    background: linear-gradient(135deg,#3881fa,#a21fad 100.01%);
    box-shadow: 0 4px 14px rgba(94,46,125,.2);
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
    transition: all .2s ease;
    width: 13rem;
    height: 3.5rem;
    border: none;
    color: white;
    margin-left: 1.2rem;
    margin-top: 2rem;
}
.vpn-pro-btn:hover{
    background: linear-gradient(135deg,#286ad5,#7a1184 100.01%);
}
.free-vpn-btn{
    background: #0199ff;
    box-shadow: 0 4px 14px rgba(94,46,125,.2);
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
    transition: all .2s ease;
    width: 13rem;
    height: 3.5rem;
    border: none;
    color: white;
    margin-left: 1.2rem;
}
.free-vpn-btn:hover{
    background: #026fb8;
}
.features{
    margin-top: 11rem;
}
.features-parent{
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.features1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.features2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.features1 h3{
    font-size: 2.4rem;
    font-weight: 800;
    margin-right: 10.5rem;
    margin-bottom: 1rem;
    
    
}
.features2 h3{
    font-size: 2.4rem;
    font-weight: 800;
    /* margin-right: 10.5rem; */
    margin-bottom: 1rem;
}
.features2 p{
    width: 40rem;
    line-height: 1.7rem;
    font-weight: 550;
    font-size: 1.2rem;
}
.features1 p{
    width: 40rem;
    line-height: 1.7rem;
    font-weight: 550;
    font-size: 1.2rem;
    
}
.features1 img{

}
.switch{
    background-color: #92c1e9;
    height: 80vh;
    margin-top: 6rem;
}
.switch-text{
    display: flex;
    color: #2084d9;
    gap: 15rem;

}
.switch h2{
    font-size: 3.6rem;
    font-weight: 900;
    margin-top: 6rem;
    margin-left: 4rem;
    
}
.switch p{
    font-size: 1.8rem;
    width: 50rem;
    margin-top: 7rem;
    margin-right: 4rem;
    font-weight: 600;
}
.switch button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
    height: 4rem;
    border: none;
    color: white;
    font-size: 1.5rem;
   background: rgb(9, 9, 149);
   margin-top: 8rem;
}
.switch button:hover{
    background-color: rgb(3, 3, 97);
    transition: all .5s ease-in-out;
    cursor: pointer;
}
.gaming h3{
    font-size: 3.4rem;
    width: 40rem;
    font-weight: 900;
    margin-top: 6rem;
    margin-left: 8rem;
    line-height: 3.8rem;
    margin-bottom: 3rem;
}
.gaming-container{
    justify-content: center;
    align-items: center;
    display: flex;
}
.gaming-child{
    background: #f2f2f2;
    width: 79rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gaming-child h4{
    font-size: 2rem;
    margin-left: 4rem;
    font-weight: 800;
}
.gaming-child p{
    font-size: 1.4rem;
    margin-left: 4rem;
    margin-top: 2rem;
    line-height: 1.9rem;
}
.gaming-container .horizontal-line{
    border-bottom: 1px solid rgb(166, 167, 168);
    width: 28rem;
    margin-left: 4rem;
    margin-top: 2rem;
}
.gaming-child span{
    padding-top: 3rem;
}
.gaming-link a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.gaming-link a:hover{
    color: purple;
}

.know-us img{
    width: 100vw;
    margin-top: 10rem;
}
.know-us-child p{
    position: absolute;
    top: 480rem;
    width: 30rem; 
    margin-left: 4rem;
    font-size: 1.6rem;
    line-height: 2.3rem;
}
.know-us h4{
    position: absolute;
    top: 470rem;
    width: 40rem;
    font-size: 3.5rem;
    font-weight: 800;
    margin-left: 4rem;
}

.pink-container{
    justify-content: center;
    align-items: center;
    display: flex;
  
}

.pink-child{
    background-color: #fabbcb ;
    margin-top: 9rem;
    flex-direction: column;
    display: flex;
}
.pink-text{
    display: flex;
    gap: 3rem;   
    position: relative;
    top: 4rem;
}
.pink-text h3{
    font-size: 3.2rem;
    font-weight: 800;
    color: #fb637e;
    width: 30rem;
    margin-top: 4rem;
    line-height: 2.7rem;
    margin-left: 4rem;
}
.pink-text p{
    color: #fb637e;
    font-size: 1.3rem;
    width: 30rem;
    margin-top: 4rem;
    margin-right: 3rem;
    font-weight: 700;
}
.pink button{
    width: 15rem;
    height: 4rem;
    text-transform: capitalize;
   margin-left: auto;
   margin-right: auto;
   display: block;
   margin-top: 4rem;
   position: relative;
   top: 6rem;
   color: white;
   border: none;
   font-size: 1.2rem;
   background-color:rgb(9, 9, 149);
}
footer{
    background-color: #f2f2f2;
    text-transform: capitalize;
    height: 31rem;
}
.footer-container{
    display: flex;
    gap: 6rem;
    flex-wrap: wrap;
    
}
footer ul{
    line-height: 2.4;
    letter-spacing: .03rem;
    font-size: 0.8rem;
   
    
}
footer label img{
    width: 50%;
}
.services, .legal, .community, .help{
    position: relative;
    left: 10rem;
    margin-top: 3rem;
}
footer h3{
    margin-bottom: 1.4rem;
}
footer ul li{
    list-style: none;
    font-weight: 550;
    color: rgb(64, 64, 64);

}
footer ul li:hover{
    cursor: pointer;
   color: purple;
   padding-left: 0.2rem;
}
footer .brand{
    margin-left: 20rem;
    margin-top: 3rem;
    
}
footer .brand p{
    color: #b3b3b3;
    font-size: 1rem;
    line-height: normal;
    width: 20rem;
    margin-top: 1.3rem;
}
.footer-full-hl{
    border-bottom: 0.01rem solid rgb(160, 159, 159);
    width: 90%;
    margin-left: 7rem;
    margin-top: 3rem;
}

footer .p1{

    color: #9d9d9d;
    padding-left: 8rem;
    line-height: 2rem;
    font-size: 0.9rem;
   
}
footer .p1:first-of-type{
    margin-top: 3rem;
}
.footer-icons{
    margin-top: 1rem;
    letter-spacing: 0.4rem;
    text-decoration: none;
}

.brand-hl{
    border-bottom: 1px solid gray;
    margin-top: 1rem;
}
.footer-drop-down-img{
    display: none;
}

@media screen and (max-width:600px){
    body, html{
        overflow-x: hidden;
       height: 100%;
    }
    nav{
        height: 4.5rem;
    }
    
    nav .logo{
       line-height: 5rem;
    }
    nav .logo{
        margin-left: 2rem;
        line-height: 6rem;
    }
    nav:hover{
        height: 5.2rem;
        transition: all .6s ease-in;
        line-height: 90px;
     }
    nav .vertical-line{
        display: none;
    }
    nav ul li{
        display: none;
    }
    .nav-download{
        display: none;
        
    }
   
    header{
        background-color: #92c1e9;
        height: 43rem;
        width: 100%;
    }
    .head-h1p{
         flex-direction: column;
    }
    .desktop-img{
        display: none;
    }
    .mobile-img{
        width: 80%;
        position: relative;
        bottom: 0rem;
        top: -3rem;
        left: 0;
    }
    header h1{
    font-size: 2.46rem;
    /* margin: 0 0 1rem; */
    font-family: Averta,Arial,sans-serif;
    line-height: 1;
    font-weight: 900;
    padding-left: 0.1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: 3.8rem;
    width: 100%;
    text-align: left;
    padding-left: 1rem;


}
header p{
    font-size: 1.1rem;
    width: 90%;
    position: relative;
    left: 0;
    bottom: 0;
    top: 2rem;
    text-align: left;
    margin-bottom: 4rem;
    line-height: 1.3;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-weight: 700;
     padding-left: 1rem; 
    /* padding-right: 1rem; */
    
}
.head-download{
    width: 80%;
    height: 3.5rem;
    margin-top: 0;
}
.head-download:hover{
    background-color: rgb(2, 2, 99);
    cursor: pointer;
}
.what-can-you-do{
    margin-top: 5rem;
}
.what-can-you-do p {
    font-size: 1.3rem;
    font-family: Averta,Arial,sans-serif;
    font-weight: 900;
    width: 80%;
    margin-left: 1rem;
    margin-top: 8rem;
    margin-bottom: 1rem;
  /* text-align: center; */
    
}
.doings1, .doings2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
}
.browse-fast{
    width: 24rem;
    height: 20rem;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}
.browse-fast, .chat, .connect, .surf{
    width: 24rem;
    height: 20rem;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}
.browse-fast img, .chat img, .connect img, .surf img{
    margin-top: 4.5rem;
    margin-left: 1.3rem;
    width: 70%;
 }
 .browse-fast span, .connect span{
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 0rem;
    float: left;
    width: 90%;
 }
 .surf span{
    width: 80%;
    padding-left: 2rem;
 }
 .parent-doings1{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
 }
 .enhanced-child{
    margin-top: 1rem;
    width: 79rem;
    height: 56rem;
    background-color: #d4c9f8;
    flex-direction: column-reverse;
}
.enhanced-child img{
    width: 80%;
    margin-top: 0rem;
    position: relative;
    left: 7.4rem;
    top: 12em;
}
.enhanced-child span{
    font-size: 1.2rem;
    font-weight: 550;
    margin-left: 1.2rem;
    position: relative;
    top: 1.2rem;
    
}
.enhanced-child h3{
    font-size: 1.15rem;
    font-weight: 800;
    margin-top: 13rem;
    margin-left:2rem;
    width: 80%;

}
.enhanced-child p{
    line-height: 1.5rem;
    margin-left: 2rem;
    font-weight: 500;
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.7rem;
    width: 85%;
}

.enhanced-child ul {
    margin-top: 2rem;
    margin-left: 1.2rem;
    margin-right: 1rem;
    line-height: 2rem;
    font-size: 0.85rem;
    font-weight: 600;
    list-style: none;
}
.vpn-pro-btn, .free-vpn-btn{
    width: 80%;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

 .know-us{
    display: none;
 }
.features{
    margin-top: 6rem;
}
 .features1{
    flex-direction: column;
 }
 .features2{
    flex-direction: column-reverse;
 }
 .features1 img, .features2 img{
    width: 100%;
    margin-bottom: 2rem;
 }
 .features1 h3{
    width: 100%;
    font-size: 1.6rem;
    font-weight: 800;
    padding-left: 2rem;
    margin-bottom: 1rem;
    position: relative;
    bottom: 1.6rem;

    
    
}
.features2 h3{
    font-size: 1.4rem;
    font-weight: 800;
    margin-bottom: 1rem;
    padding-left: 2rem;
    position: relative;
    bottom: 1.6rem;

}

.features2 p{
    width: 90%;
    line-height: 1.6rem;
    font-weight: 550;
    font-size: 0.7rem;
    padding-left: 2rem;
    position: relative;
    bottom: 2rem;

}
.features1 p{
    width: 90%;
    line-height: 1.6rem;
    font-weight: 550;
    font-size: 0.7rem;
    padding-right: 0rem;
    padding-left: 2rem;
    position: relative;
    bottom: 2rem;

    
}
.switch-text{
    flex-direction: column;
}
.switch{
   display: none;
}

.gaming h3{
    font-size: 1.4rem;
    width: 80%;
    font-weight: 900;
    margin-top: 6rem;
    margin-left: 2rem;
    line-height: 1.6rem;
    margin-bottom: 0.4rem;
}
.gaming-container{
    justify-content: center;
    align-items: center;
    display: flex;
}
.gaming-child{
    background: #f2f2f2;
    width: 79rem;
    height: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}
.gaming-child h4{
    font-size: 1.5rem;
    margin-left: 3rem;
    font-weight: 800;
    width: 80%;
    text-align: center;
}
.gaming-child p{
    font-size: 1rem;
    margin-left: 25%;
    margin-top: 1rem;
    line-height: 1.9rem;
    width: 50%;
}
.gaming-container .horizontal-line{
    border-bottom: 1px solid rgb(166, 167, 168);
    width: 28rem;
    margin-left: 4rem;
    margin-top: 2rem;
}
.gaming-child span{
    padding-top: 3rem;
}
.gaming img{
    width: 50%;
    margin-left: 18%;
}


.pink-child{
    background-color: #fabbcb ;
    margin-top: 9rem;
    flex-direction: column;
    display: flex;
}
.pink-text{
    display: flex;
    gap: 0rem;   
    position: relative;
    top: 4rem;
    flex-direction: column;
}
.pink-text h3{
    font-size: 2rem;
    font-weight: 800;
    color: #fb637e;
    width: 28%;
    margin-top: 0rem;
    line-height: 2.7rem;
    margin-left: 21.5rem;
}
.pink-text p{
    color: #fb637e;
    font-size: 1.1rem;
    width: 28%;
    margin-top: 2rem;
    margin-right: 0rem;
    font-weight: 700;
    margin-left: 21.5rem;
    line-height: 1.8;
}
.pink button{
    width: 15rem;
    height: 4rem;
    text-transform: capitalize;
   margin-left: auto;
   margin-right: auto;
   display: block;
   margin-top: 0rem;
   position: relative;
   top: 6rem;

   color: white;
   border: none;
   font-size: 1.2rem;
   background-color:rgb(9, 9, 149);
}
.pink img{
    margin-left: 9rem;
    width: 50rem;
}
.footer-container{
    flex-direction: column;
}
footer{
    background-color: #f2f2f2;
    text-transform: capitalize;
    height: 35rem;
}

footer ul{
    line-height: 2.4;
    letter-spacing: .03rem;
    font-size: 0.8rem;
    display: none;
   
    
}
.services, .legal, .community, .help{
    position: relative;
    left: 0rem;
    margin-top: 1rem;
    margin-left: 2rem;
    
}
.services{
    margin-top: 2rem;
}
footer h3{
    margin-bottom: 1.4rem;
    /* line-height: 0.1rem; */
   font-size: 1rem;
}
footer ul li{
    list-style: none;
    font-weight: 550;
    color: rgb(64, 64, 64);

}
footer ul li:hover{
    cursor: pointer;
   color: purple;
   padding-left: 0.2rem;
}
footer .brand{
    margin-left: 1rem;
    margin-top: 0rem;
   
    
}
footer .brand p{
    color: #b3b3b3;
    font-size: 1rem;
    line-height: normal;
    margin-top: 1.3rem;
    width: 90%;
}
.footer-full-hl{
    border-bottom: 0.01rem solid rgb(160, 159, 159);
    width: 90%;
    margin-left: 7rem;
    margin-top: 3rem;
    display: none;
}

footer .p1{

    color: #9d9d9d;
    padding-left: 1rem;
    line-height: 2rem;
    font-size: 0.9rem;
    text-align: center;
   
}
footer .p1:first-of-type{
    margin-top: 1rem;
}
.footer-icons{
    margin-top: 1rem;
    letter-spacing: 0.4rem;
    text-decoration: none;
}

.brand-hl{
    border-bottom: 1px solid gray;
    margin-top: 1rem;
    width: 90%;
}
footer label img{
    width: 35%;
    margin-top: 1rem;
}
.footer-nav-hl{
    border-bottom: 1px solid grey;
    width: 90%;
}
.footer-drop-down-flex{
    display: flex;
    justify-content: space-between;
}
.footer-drop-down-img{
    line-height: 1.4;
    margin-right: 3rem;
}
.checkbtn{
    display: inline;
     color: black;
     margin-right: 3rem;
     height: 0;
     line-height: 5rem;
     
 }
 nav{
     background: white;
     height: 4rem;
     position: fixed;




 }
 .nav-dropdown-flex{
     display: flex;
     justify-content: space-between;
     
 }
 nav .drop-down-img{
 display: block;
}
 .drop-down-img{
     margin-top: 1.5rem;
     margin-right: 3rem;
 }
 .nav1{
     flex-direction: row-reverse;
     justify-content: space-between;
 }
nav ul{
     position: fixed;
     width: 100%;
     height: 100vh;
     background: white;
     top: 0rem;
     top: 100%;
    margin-right: 0;
     margin-top: 4.2rem;
     transition: ease-in .5s;
     flex-direction: column;
 
 }
 .nav-hl{
     border-bottom: 1px solid rgb(174, 173, 173);
     width: 80%;
     margin-left:2rem ;
 }
 .nav-long-hl{
     border-bottom: 1px solid grey;
     width: 100%;
 }
 nav ul li{
     display: block;
     margin: 4%;
     right: 0rem;
     position: relative;
     line-height: 0.8rem;
     text-transform: uppercase;
 }
 nav ul li a{
     font-size: 2rem;
     color: white;
 }
 a:hover,a.active{
     background: none;
     color: gray;
 }
 #check:checked~ ul {
     top: 0;
 }
}

@media screen and (min-width:601px) and (max-width:124px){
   .desktop-img{
    display: none;
   }
   header h1{
    font-size: 4rem;
    font-family: Averta,Arial,sans-serif;
    line-height: 1;
    font-weight: 800;
    margin-left: 4rem;
    position: relative;
    top: 6rem;
    width: 70%;
    margin-bottom: 8rem;


}
header p{
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 70%;
    position: relative;
    left: 0rem;
    bottom: 0rem;
    line-height: 1.3;
    font-weight: 700;
    margin-left: 4rem;
    
}
.mobile-img{
    width: 70%;
    position: relative;
    top: -7rem;
    left: 0;
}
header{
    background-color: #92c1e9;
    height: 100vh;
    width: 100%;
}

.enhanced-child{
    margin-top: 1rem;
    width: 100%;
    height: 68rem;
    background-color: #d4c9f8;
    flex-direction: column-reverse;
}
.enhanced-child img{
    width: 80%;
    margin-top: 0rem;
    position: relative;
    left: 7.4rem;
    top: 12rem;
}
.enhanced-child span{
    font-size: 1.2rem;
    font-weight: 550;
    margin-left: 1.2rem;
    position: relative;
    top: 1.2rem;
    
}
.enhanced-child h3{
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: 13rem;
    margin-left:2rem;
    width: 80%;

}
.enhanced-child p{
    line-height: 1.5rem;
    margin-left: 2rem;
    font-weight: 500;
    margin-top: 0.5rem;
    font-size: 1.54rem;
    line-height: 1.7rem;
    width: 85%;
}

.enhanced-child ul {
    margin-top: 2rem;
    margin-left: 1.2rem;
    margin-right: 1rem;
    line-height: 2rem;
    font-size: 1rem;
    font-weight: 600;
    list-style: none;
}
.vpn-pro-btn, .free-vpn-btn{
    width: 80%;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.doings1, .doings2{
    flex-direction: column;
}
.know-us{
    display: none;
}
.switch-text{
    flex-direction: column;
}
.switch h2{
    font-size: 3.6rem;
    font-weight: 900;
    margin-top: 3rem;
    margin-left: 4rem;
    width: 80%;
    
}
.switch p{
    font-size: 1.8rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 3rem;
    font-weight: 600;
    width: 80%;
    position: relative;
    bottom: 12rem;
    line-height: 2;
}
.switch button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 5rem;
    border: none;
    color: white;
    font-size: 1.5rem;
   background: rgb(9, 9, 149);
   margin-top: 1rem;
   position: relative;
   bottom: 8rem;
}
.switch{
    background-color: #92c1e9;
    height: 44rem;
    margin-top: 6rem;
}
.features1{
    flex-direction: column;
}
.features2{
    flex-direction: column-reverse;
}
.features1 p, .features2 p{
    margin-bottom: 2rem;
}

.gaming-container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.gaming-child{
    background: #f2f2f2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}
.gaming-child h4{
    font-size: 2.3rem;
    margin-left: 2rem;
    font-weight: 800;
}
.gaming-child p{
    font-size: 1.4rem;
    margin-left: 2rem;
    margin-top: 2rem;
    line-height: 1.9rem;
    width: 80%;
}
.gaming-container .horizontal-line{
    border-bottom: 1px solid rgb(166, 167, 168);
    width: 85%;
    margin-left: 2rem;
    margin-top: 2rem;
}
.gaming-child span{
    padding-top: 3rem;
}
.gaming-link a{
    text-decoration: none;
    color: black;
    font-weight: 600;

}
.pink-child{
    width: 100%;
}

.pink-child{
    background-color: #fabbcb ;
    margin-top: 9rem;
    flex-direction: column;
    display: flex;
}
.pink-text{
    display: flex;
    gap: 3rem;   
    position: relative;
    top: 4rem;
    flex-direction: column;
}
.pink-text h3{
    font-size: 3.2rem;
    font-weight: 800;
    color: #fb637e;
    width: 30rem;
    margin-top: 4rem;
    line-height: 3.5rem;
    margin-left: 4rem;
}
.pink-text p{
    color: #fb637e;
    font-size: 1.6rem;
    width: 80%;
    margin-top: 4rem;
    font-weight: 700;
    margin-left: 4rem;
    line-height: 1.4;
}
.pink button{
    width: 15rem;
    height: 4rem;
    text-transform: capitalize;
   margin-left: auto;
   margin-right: auto;
   display: block;
   margin-top: 4rem;
   position: relative;
   top: 6rem;
   color: white;
   border: none;
   font-size: 1.2rem;
   background-color:rgb(9, 9, 149);
}
.footer-container{
   flex-direction: column;
}


footer ul{
    line-height: 2.4;
    letter-spacing: .03rem;
    font-size: 0.8rem;
    display: none;
   
    
}
.services, .legal, .community, .help{
    position: relative;
    left: 0rem;
    margin-top: 1rem;
    margin-left: 2rem;
    
}
.services{
    margin-top: 2rem;
}
footer h3{
    margin-bottom: 1.4rem;
    /* line-height: 0.1rem; */
   font-size: 1rem;
}
footer ul li{
    list-style: none;
    font-weight: 550;
    color: rgb(64, 64, 64);

}
footer ul li:hover{
    cursor: pointer;
   color: purple;
   padding-left: 0.2rem;
}
footer .brand{
    margin-left: 1rem;
    margin-top: 0rem;
   
    
}
footer .brand p{
    color: #b3b3b3;
    font-size: 1rem;
    line-height: normal;
    margin-top: 1.3rem;
    width: 90%;
}
.footer-full-hl{
    border-bottom: 0.01rem solid rgb(160, 159, 159);
    width: 90%;
    margin-left: 7rem;
    margin-top: 3rem;
    display: none;
}

footer .p1{

    color: #9d9d9d;
    padding-left: 1rem;
    line-height: 2rem;
    font-size: 0.9rem;
    text-align: center;
   
}
footer .p1:first-of-type{
    margin-top: 1rem;
}
.footer-icons{
    margin-top: 1rem;
    letter-spacing: 0.4rem;
    text-decoration: none;
}
.footer-drop-down-flex{
    display: flex;
    justify-content: space-between;
}
.footer-drop-down-img{
    margin-right: 6rem;
}
.brand-hl{
    border-bottom: 1px solid gray;
    margin-top: 1rem;
    width: 90%;
}
footer label img{
    width: 35%;
    margin-top: 1rem;
}
.footer-nav-hl{
    border-bottom: 1px solid grey;
    width: 90%;
}
}



@media (max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 10px;
    }
    nav{
        display: inline-block;
        
    }
    nav label{
        position: relative;
        left: 1rem;
    }

}
